[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=BashCompiler
Comment=
Terminal=false
Type=Application
Categories=Utility;
Name[en_US]=BashCompiler
Icon=BashCompiler.png
Exec=bashcompiler